@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
/*Variables*/
:root {
    --pink: hsl(0, 100%, 74%);
    --red: #e74c3c;
    --green: rgb(56, 204, 140);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%); 
    --gray: hsl(249, 8%, 49%);
    --grayishBlue: hsl(246, 25%, 77%);
    --errorIcon: url(./images/icon-error.svg);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--pink);
    background-image: url(.//images/bg-intro-desktop.png);
}

.container {
    margin: 24px;  
    font-family: 'Poppins';
    font-size: 16px;
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#main {
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

#main h1 {
    font-size: 30px;
    font-weight: 700;
}

#main p {
    font-size: 14px;
    margin-bottom: 33px;
}

#sideBar {
    font-size: 12px;
    font-weight: 700;
}

#form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    
}

button {
    text-align: center;
    border: none;
    color: #fff;
    width: 100%;
    border-radius: 10px; 
    cursor: pointer;
}

#freeTrial {
    background-color: var(--blue);
    box-shadow: 0 8px rgba(0, 0, 0, 0.3);
    margin: 0 0 25px 0;
    padding: 15px 70px;
    line-height: 25px;
}

.form-control {
    margin-bottom: 20px;
    position: relative;
}

.form-control input {
    border: 0.5px solid var(--grayishBlue);
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 20px 30px;
}

.form-control input::placeholder {
    color: var(--gray);
    font-weight: 700;
    font-family: 'Poppins';
    visibility: visible;
}

.form-control.error input::placeholder {
    visibility: hidden;
}


.form-control input:focus {
    outline: 0;
    border-color: var(--blue);
    background-color: #fff;
}

.form-control input:focus::placeholder {
    color: var(--darkBlue);
    font-weight: 600;
}

.form-control.success input {
    border-color: var(--blue);
}

.form-control.error input {
    outline: 0;
    border-color: var(--red);
    background-image: var(--errorIcon);
    height: 20px;
    background-repeat: no-repeat;
    background-position: 240px;
    z-index: 1;
}


.form-control.error small {
    color: var(--red);
    visibility: visible;
    left: 120px;
}

.form-control.success small {
    visibility: hidden; 
}


.form-control small {
    font-size: 10px;
    position: absolute;
    visibility: hidden;
}


#submit {
    background-color: var(--green);
    box-shadow: 0 5px rgb(30, 163, 105);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 40px;
}

#terms {
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color: var(--grayishBlue);
}

a {
    color: var(--pink);
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
}